body {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "BlinkMacSystemFont", "-apple-system", "Segoe UI", "Roboto",
    Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 100%;
}

header {
  color: white;
  background-color: #003b95;
  width: 100%;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  align-items: center;
  padding: 8px 0px;
}
.list-item-property {
  display: flex;
  gap: 20px;
  align-items: center;
}

.list-text {
  margin: 8px 8px 0px 0px;
}
.logo {
  flex-grow: 0.96;
  padding: 8px 16px 8px 0px;
}

.logo h1 {
  margin: 0;
}
.list-text-bg {
  background-color: white;
  color: #006ce4;
  padding: 7px;
  border-radius: 5px;
  text-decoration: none;
}
.list-text img {
  height: 23px;
  width: 23px;
  object-fit: cover;
}

.list-item {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.list::marker {
  content: "";
}
.list svg {
  width: 20px;
  fill: white;
}

.list a {
  color: white;
  display: flex;
  text-decoration: none;
  margin: 8px 8px;
}

.icons {
  margin-right: 8px;
}
.first {
  border: 1px solid white;
  border-radius: 100px;
  padding: calc(12px - 100px) 16px;
  position: relative;
}
.first::before {
  content: "";
  background-color: white;
  position: absolute;
  left: 0;
  opacity: 0.1;
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

.tab-content,
.tab-content1 {
  padding: 15px;
  display: none;
}

.tab-content.current,
.tab-content1.current {
  display: inherit;
}

.slick-prev {
  left: 0 !important;
  background-color: white !important;
  color: red !important;
  z-index: 1;
  border: 1px solid transparent !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
  border-radius: 50%;
  padding: 10px !important;
  width: 30px !important;
  height: 30px !important;
}
.slick-next {
  right: 0 !important;
  background-color: white !important;
  color: red !important;
  z-index: 1;
  border: 1px solid transparent !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
}

li::marker {
  content: "";
}
.componey-logo {
  padding: 10px 0px 0px;
}

.componey-logo,
.componey-logo ul {
  display: flex;
  justify-content: center;
}

.componey-logo ul li {
  padding: 0px 28px;
}

.footer-logos p {
  color: #6b6b6b;
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}

.copyright span {
  color: #6b6b6b;
  font-size: 12px;
}

.login {
  text-align: center;
  margin-top: 48px;
}
.login a {
  color: #006ce4;
  font-size: 1.1em;
  margin: 0 10px;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
}

.footer-list li {
  line-height: 14px;
  font-size: 13px;
  color: #006ce4;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.footer,
.grid-tab {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.copyright {
  margin-top: 16px;
}
.bottom-tab-text,
.tab-data-text {
  margin-top: 16px;
  padding: 0 2.25225% 0 0;
  list-style: none;
}
.bottom-tab-text h4,
.tab-data-text h4 {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.bottom-tab-text p,
.tab-data-text p {
  color: #474747;
  font-size: 13px;
  line-height: 14px;
}

.bottom-tab-text h4,
.bottom-tab-text p,
.tab-data-text h4,
.tab-data-text p {
  margin: 0px;
  padding: 0px;
}

.bottom-tab-list,
.tab-list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.bottom-tab-list-item.current button,
.tab-list-item.current button {
  padding: 12px 15px;
  background-color: rgba(0, 108, 228, 0.06);
  border: 1px solid #006ce4;
  color: #006ce4;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 999px;
  cursor: pointer;
}
.tab-list-item.current button svg {
  fill: #006ce4;
}

.tab-list-item button svg {
  color: #1a1a1a;
  height: 14px;
}
.bottom-tab-list-item button,
.tab-list-item button {
  padding: 12px 15px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 999px;
  cursor: pointer;
}
.bottom-tab-list-item,
.tab-list-item {
  padding-left: 8px;
}

.bottom-tab-list-item button:hover {
  background-color: rgba(26, 26, 26, 0.06);
}
.bottom-tab-list-item.current button:hover {
  background-color: rgba(0, 108, 228, 0.06);
}
.home-cards,
.cards {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  align-items: stretch;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
  margin-right: 16px;
}

.card-img img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.card-text span {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.card-text p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.padding-box {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  max-height: 100%;
}
.rating {
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  background: #003b95;
  border: none;
}

.des {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #1a1a1a;
}

.totelReview {
  color: #474747;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.pricing {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: end;
}

.pri {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.saveTime {
  padding: 50px 0;
  background-color: #00224f;
  color: white;
}
.saveTime h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.saveTime p {
  color: #bdbdbd;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.form {
  max-width: 50%;
  margin: 20px auto 0 auto;
}

.form form {
  text-align: center;
}

.saveForm {
  width: 360px;
  height: 45px;
  font-size: 16px;
  line-height: 24px;
  text-indent: 10px;
}

.saveTimebtn {
  height: 49px;
  width: 150px;
  background: #006ce4;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  border: none;
}

.listOfProperty {
  background-color: #003b95;
}

.listHeading {
  text-align: center;
  padding: 15px 0px;
}
.listHeading a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 4px 6px;
  font-size: 12px;
  line-height: 18px;
}

.list-text-item {
  display: flex;
  margin: 0px;
  border-top: 1px solid #fff;
}
.list-text-item li {
  border-right: 1px solid rgb(0, 53, 128);
  padding: 15px 10px;
}
.list-text-item li a {
  color: white;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
}

.bottom-tab {
  margin-bottom: 30px;
}

.yellow-dot {
  border-radius: 50%;
  bottom: 40px;
  height: 64px;
  left: -20px;
  position: absolute;
  width: 64px;
  background-color: #ffb700;
}

.discover {
  display: flex;
  justify-content: flex-end;
  min-height: 230px;
  height: 230px;
  overflow: hidden;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e7e7e7;
  margin: 24px 0px;
  border-radius: 12px;
  position: relative;
}
.discount,
.discount-page {
  display: flex;
}

.discount {
  border: 1px solid #e7e7e7;
  border-radius: 12px;
}
.btn.d-btn {
  border: 1px solid #006ce8;
}

.btn {
  border: none;
  color: #006ce8;
  border-radius: 4px;
  padding: 3px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  background: transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 108, 228, 0.06);
}

.tab-slider-item,
.explore-slider-itme,
.property-slider-item {
  margin-right: 20px;
}
.tab-slider-item img,
.explore-slider-itme img {
  border-radius: 12px;
  max-height: 100%;
  object-fit: cover;
  height: 160px;
}

.property-slider-item img {
  border-radius: 15px;
}
.tab-slider-item h4,
.explore-slider-itme span,
.property-slider-item span {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #1a1a1a;
  font-weight: 700;
}

.tab-slider-item p,
.explore-slider-itme p,
.property-slider-item p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
}

.top-delhi {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(
    180deg,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0)
  );
  border-radius: 12px;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}
.city-name {
  padding-left: 40px;
}

.city-name h5 {
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  margin: 0;
}

.city {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.city2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.picture img {
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.city-details {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.tranding-destinations h4,
.explore h4,
.tab-header h4,
.unique-heading h4,
.offers h3 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  color: #1a1a1a;
}
.property-type h4,
.Homes-guest-heading h4,
.trip-heading h4 {
  font-size: 24px;
  line-height: 32px;
  color: #1a1a1a;
}

.tranding-destinations p,
.explore p,
.tab-header p,
.unique-heading p,
.offers p {
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  color: #474747;
}

.delhi,
.jaipur {
  border: 1px solid transparent;
  border-radius: 12px;
  position: relative;
}

.delhi:hover,
.jaipur:hover {
  border: 1px solid #febb02;
}

.delhi:hover .top-delhi,
.jaipur:hover .top-delhi {
  background: linear-gradient(
    180deg,
    rgba(0, 27, 65, 0.85) 0,
    rgba(0, 27, 65, 0)
  );
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.text-area h5,
.text-area p {
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  margin: 0;
  width: 299px;
}

.text-area button {
  background: #006ce4;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
}

.offer-slider-item {
  display: flex !important;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
  max-height: 184px;
  position: relative;
  padding: 16px;
  min-height: 184px !important;
  margin-right: 20px;
}

.img-area {
  max-width: 33%;
}
.bg-img {
  background-image: url(./img/204490944.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-img1 {
  background-image: url(./img/261387541.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.white {
  color: white !important;
}

.slick-dots li.slick-active {
  background-color: #006ce4 !important;
  opacity: 1;
  width: 10px !important;
  height: 10px !important;
}

.slick-dots li {
  width: 8px !important;
  height: 8px !important;
  border-radius: 100% !important;
  background-color: black !important;
  opacity: 0.5;
  display: inline-block !important;
  margin-right: 7px !important;
}

.slick-dots li button:before,
.slick-dots li.slick-active button::before {
  content: "" !important;
}

.slick-disabled {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.slick-next:before {
  font-family: "Font Awesome 6 Free" !important;
  content: "\f054" !important;
  color: black !important;
  font-weight: 800 !important;
  font-size: 15px !important;
}

.slick-prev:before {
  font-family: "Font Awesome 6 Free" !important;
  content: "\f053" !important;
  color: black !important;
  font-weight: 800 !important;
  font-size: 15px !important;
}

.slick-prev:focus {
  box-shadow: 0 0 0 3px rgba(0, 108, 228, 0.24);
}

.slick-next:focus {
  box-shadow: 0 0 0 3px rgba(0, 108, 228, 0.24);
}

.bg-trip {
  background-image: url(./img/bangkok.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px !important;
  max-height: 100%;
}

.booking {
  background-color: #003b95;
  color: white;
  max-height: 230px;
}

.booking-title span {
  font-size: 48px;
  line-height: 62px;
  font-weight: 900;
}
.booking-title p {
  font-size: 24px;
  line-height: 32px;
  margin-top: 0px;
}

.booking-form form {
  border-radius: 8px;
  background: #ffb700;
  display: flex;
  justify-content: space-between;
  margin: 24px 0px;
  padding: 4px;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
}

.book-item {
  border: 1px solid #febb02;
  background-color: white;
  margin-left: 0;
  display: flex;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
  height: 55px;
  outline: none;
  align-items: center;
}

.book-item i {
  color: #474747;
  fill: #474747;
  margin-right: 10px;
  font-weight: 100 !important;
}

.datePicker {
  width: 294px;
  max-width: 100%;
}

.datePicker1 {
  border: none;
  outline: none;
}

.location svg {
  width: 20px;
  color: #474747;
  fill: #474747;
  margin-right: 10px;
}

.searchLocation {
  width: 100%;
  border: none;
  outline: none;
}
.sect {
  width: 294px;
  max-width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-btn {
  width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006ce4;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  border: 2px solid #febb02;
}
.location {
  width: 380px;
  max-width: 100%;
}
.book-item:hover {
  box-shadow: 0 0 0 1px #f56700;
}

.booking-title {
  padding: 64px 0px 48px;
}

.booking-form {
  margin-top: -55px;
}

.selecOption {
  margin: 50px 0px 30px;
}
.tranding-destinations,
.property-type,
.unique {
  margin: 60px 0px;
}
.Homes-guest {
  margin: 0px 0px 60px;
}
.first-option {
  display: flex;
  justify-content: space-around;
}

.drop {
  color: #1a1a1a;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  position: relative;
  text-align: left;
  padding: 8px 24px 8px 8px;
  width: 100%;
}

.box {
  width: 100%;
  padding: 8px;
}

.book-item::placeholder {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #1a1a1a;
}

.deop-item {
  display: none;
  background-color: white;
  position: absolute;
  left: -50px;
  right: 0px;
  top: 60px;
  z-index: 9;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(26, 26, 26, 0.24);
  padding: 32px;
  color: #1a1a1a;
  width: 290px;
}

.sect {
  position: relative;
}

.on {
  display: block;
}

.adult,
.children,
.rooms {
  display: flex;
  justify-content: space-between;
}

.minus,
.plus {
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: #006ce4;
  line-height: 30px;
  font-weight: 100;
  cursor: pointer;
}

.minus:disabled {
  color: rgba(16, 16, 16, 0.3);
}
.svg-icon {
  color: #474747;
  padding-right: 8px;
}

.icon {
  position: absolute;
  right: 5px;
}

.trip-slider-item.bg-trip {
  width: 540px !important;
  flex: 0 0 auto;
}

.trip-slider-item {
  width: 260px !important;
  flex: 0 0 auto;
  margin-right: 16px;
}

.last {
  margin-right: 0px;
}

.trip-slider {
  display: flex !important;
}

.trip-slider .slick-list {
  display: flex !important;
}

.trip-slider .slick-track {
  display: flex !important;
}

.trip-text h4 {
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  margin-bottom: 0px;
}
.trip-text p {
  font-size: 14px;
  line-height: 20px;
  color: #474747;
  margin: 0px;
}

.tirp-slider-text {
  position: absolute;
  bottom: 0;
  margin-left: 12px;
  margin-bottom: 10px;
}

.tirp-slider-text h4 {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 0px;
}

.tirp-slider-text p {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin: 0px;
}

.trip-slider-item {
  border-radius: 12px;
}

.trip-img img {
  border-radius: 12px;
  height: 270px;
  max-height: 100%;
  object-fit: cover;
}

.blue-dot {
  background-color: #006ce4;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -100px 0 -100px 100px;
  max-width: 100%;
  width: 500px;
  min-width: 400px;
  padding-left: 10%;
  position: relative;
}

.dot-text,
.dot-list-itme span,
.middle-dot span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.dot-list-itme span {
  text-decoration: underline;
}

.span-btn span {
  font-size: 14px;
  line-height: 20px;
  color: #006ce4;
  font-weight: 600;
}

.span-btn {
  padding: 6px 0px;
  background-color: white;
}
.top-dot {
  display: flex;
  align-items: center;
}

.dot-list {
  margin: 0;
  padding: 0;
}

.dot-list .dot-list-itme {
  width: 50% !important;
  text-align: left;
  margin-left: 10px;
}

.middle-dot {
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}
.top-btn {
  width: 50%;
}
.discover-img {
  padding-left: 32px;
  margin-right: 32px;
}

.login a:hover {
  color: #bc5b01;
}

.footer-list li:hover {
  color: #bc5b01;
}
